<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94861440337-uldtbhgabfqhrog1tu8cseg4m9d4c7eo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94861440337-uldtbhgabfqhrog1tu8cseg4m9d4c7eo</string>
	<key>API_KEY</key>
	<string>AIzaSyD0gSVUptwEk1dt9CGIqzRs-aBRLpspkVI</string>
	<key>GCM_SENDER_ID</key>
	<string>94861440337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plantmaster.plantMasterDemo</string>
	<key>PROJECT_ID</key>
	<string>plant-master-98c8b</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-master-98c8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94861440337:ios:93149e5a52ceb90ff44f70</string>
</dict>
</plist>